<header class="flex p-5 items-center justify-between hover:cursor-pointer">
  <h1 class="text-3xl font-bold">Shortly</h1>
  <div class="hidden">
    <ul class="flex">
      <li>Features</li>
      <li>Pricing</li>
      <li>Resources</li>
    </ul>

    <ul class="flex">
      <li>Login</li>
      <li>Sign Up</li>
    </ul>
  </div>
  <div>
    <i class="fa fa-bars fa-2x text-gray-800" (click)="toggleMenu()"></i>
  </div>
</header>
<div
  *ngIf="isMenuOpen"
  class="rounded-lg absolute z-50 text-white flex flex-col w-80 bg-[#3a3053] left-1/2 transform -translate-x-1/2 items-center"
>
  <div class="py-7 border-b border-[rgb(194,193,193)] w-full">
    <ul class="text-center leading-9">
      <li>Features</li>
      <li>Pricing</li>
      <li>Resources</li>
    </ul>
  </div>
  <div class="py-7">
    <ul class="text-center leading-9">
      <li>Login</li>
      <li class="bg-myblue px-24 rounded-md">Sign Up</li>
    </ul>
  </div>
</div>
