<header class="flex p-5 items-center justify-between md:py-14 md:px-28">
  <div>
    <h1 class="text-3xl font-bold cursor-none select-none md:text-4xl">
      Shortly
    </h1>
  </div>
  <div class="hidden md:flex w-4/5 justify-between">
    <ul class="w-2/5 justify-between flex font-semibold text-myblack pt-3">
      <li class="cursor-pointer hover:text-black">Features</li>
      <li class="cursor-pointer hover:text-black">Pricing</li>
      <li class="cursor-pointer hover:text-black">Resources</li>
    </ul>

    <ul class="w-1/4 justify-between flex font-semibold text-myblack pt-3">
      <li class="cursor-pointer hover:text-black">Login</li>
      <li
        class="bg-myblue hover:cursor-pointer rounded-full px-5 py-1 text-white hover:bg-hoverblue"
      >
        Sign Up
      </li>
    </ul>
  </div>
  <div class="md:hidden">
    <i
      style="color: #bfbfbf"
      class="fa fa-bars fa-2x"
      (click)="toggleMenu()"
    ></i>
  </div>
</header>
<div
  *ngIf="isMenuOpen"
  class="rounded-lg absolute z-50 text-white flex flex-col w-4/5 bg-[#3a3053] left-1/2 transform -translate-x-1/2 items-center"
>
  <div class="py-7 border-b border-[rgb(194,193,193)] w-full">
    <ul class="text-center leading-9">
      <li class="hover:cursor-default">Features</li>
      <li class="hover:cursor-default">Pricing</li>
      <li class="hover:cursor-default">Resources</li>
    </ul>
  </div>
  <div class="py-7">
    <ul class="text-center leading-9">
      <li class="hover:cursor-default">Login</li>
      <li class="bg-myblue px-24 rounded-md">Sign Up</li>
    </ul>
  </div>
</div>
