<div>
  <div class="items-center flex flex-col">
    <img src="assets/images/illustration-working.svg" alt="Human Working" />
    <h1 class="text-3xl font-bold pb-5 pt-14 px-14 text-center">
      More than just shorter links
    </h1>
    <p class="px-6 text-center">
      Build your brand's recognition and get detailed insights on how your links
      are performing
    </p>
    <span class="rounded-full bg-myblue mt-8 px-7 py-3 text-white"
      >Get Started</span
    >
  </div>
  <div class="items-center flex flex-col" style="background-color: #f0f1f6">
    <h1 class="text-2xl pb-2 pt-14 px-14 font-bold">Advanced Statistics</h1>
    <p class="px-10 leading-tight text-center text-mygray">
      Track how your links are performing accross the web with our advanced
      statistics dashboard
    </p>

    <div class="flex flex-col">
      <div
        class="mx-7 rounded-md bg-white flex flex-col justify-between items-center"
      >
        <div class="bg-myviolet p-4 rounded-full">
          <img
            src="assets/images/icon-brand-recognition.svg"
            alt="icon brand recognition"
          />
        </div>
        <div class="flex-col flex items-center">
          <h2>Brand Recognition</h2>
          <p class="px-8 text-center">
            Boost your brand recognition with each click. Generic links don't
            mean a thing. Branded links help instill confidence in your content.
          </p>
        </div>
      </div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
