<div>
  <div class="items-center flex flex-col pb-40">
    <img
      class="-mr-14 w-full h-5/6"
      src="assets/images/illustration-working.svg"
      alt="Human Working"
    />
    <h1 class="text-4xl font-extrabold pb-5 pt-14 px-14 text-center">
      More than just shorter links
    </h1>
    <p class="px-6 text-center text-lg">
      Build your brand's recognition and get detailed insights on how your links
      are performing
    </p>
    <span
      class="hover:cursor-pointer rounded-full bg-myblue mt-8 px-7 py-3 text-white"
      >Get Started</span
    >
  </div>
  <div class="items-center flex flex-col" style="background-color: #f0f1f6">
    <div class="-mt-16 w-full px-8 flex flex-col">
      <app-shorten></app-shorten>
    </div>

    <h1 class="text-2xl pb-2 pt-14 px-14 font-bold">Advanced Statistics</h1>
    <p class="px-10 leading-tight text-center text-mygray">
      Track how your links are performing across the web with our advanced
      statistics dashboard
    </p>

    <div class="flex flex-col mb-16">
      <div
        class="mt-20 mx-7 rounded-md bg-white flex flex-col justify-between items-center"
      >
        <div class="bg-myviolet p-3 rounded-full -mt-8">
          <img
            src="assets/images/icon-brand-recognition.svg"
            alt="icon brand recognition"
          />
        </div>
        <div class="flex-col flex items-center">
          <h2 class="font-bold py-3">Brand Recognition</h2>
          <p class="px-8 text-center pb-6">
            Boost your brand recognition with each click. Generic links don't
            mean a thing. Branded links help instill confidence in your content.
          </p>
        </div>
      </div>
      <div
        class="mt-20 mx-7 rounded-md bg-white flex flex-col justify-between items-center"
      >
        <div class="bg-myviolet p-3 rounded-full -mt-8">
          <img
            src="assets/images/icon-detailed-records.svg"
            alt="detailed records"
          />
        </div>
        <div class="flex-col flex items-center">
          <h2 class="font-bold py-3">Detailed Records</h2>
          <p class="px-8 text-center pb-6">
            Gain insights into who is clicking your links. Knowing when and
            where people engage with your content helps inform better decisions.
          </p>
        </div>
      </div>
      <div
        class="mt-20 mx-7 rounded-md bg-white flex flex-col justify-between items-center"
      >
        <div class="bg-myviolet p-3 rounded-full -mt-8">
          <img
            src="assets/images/icon-fully-customizable.svg"
            alt="fully customizable"
          />
        </div>
        <div class="flex-col flex items-center">
          <h2 class="font-bold py-3">Fully Customizable</h2>
          <p class="px-8 text-center pb-6">
            Improve brand awareness and content discovery through customizable
            links, supercharging audience engagement.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col items-center justify-center bg-myviolet h-56 w-full bg-[url('assets/images/bg-boost-mobile.svg')] bg-cover bg-center"
  >
    <div class="flex flex-col items-center">
      <h1 class="text-white text-2xl font-semibold mb-3">
        Boost your links today
      </h1>
      <span
        class="hover:cursor-pointer rounded-full bg-myblue px-6 py-2 text-white"
        >Get Started</span
      >
    </div>
  </div>
  <div
    class="text-white flex flex-col items-center py-10"
    style="background-color: #232127"
  >
    <div class="text-2xl font-bold">Shortly</div>
    <div class="text-center">
      <p class="mt-8 mb-2">Features</p>
      <ul class="text-gray-500">
        <li>Link Shortening</li>
        <li>Branded Links</li>
        <li>Analytics</li>
      </ul>
    </div>
    <div class="text-center">
      <p class="mt-8 mb-2">Resources</p>
      <ul class="text-gray-500">
        <li>Blog</li>
        <li>Developers</li>
        <li>Support</li>
      </ul>
    </div>
    <div class="text-center">
      <p class="mt-8 mb-2">Company</p>
      <ul class="text-gray-500">
        <li>About</li>
        <li>Our Team</li>
        <li>Careers</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="m-8 w-2/4 justify-between flex">
      <i
        class="fa fa-facebook fa-2x text-black bg-white rounded-full px-3 py-1"
      ></i>
      <i
        class="fa fa-twitter fa-2x text-black bg-white rounded-full px-1 py-1"
      ></i>
      <i
        class="fa fa-pinterest fa-2x text-black bg-white rounded-full px-2 py-1"
      ></i>
      <i
        class="fa fa-instagram fa-2x text-black bg-white rounded-full px-2 py-1"
      ></i>
    </div>
  </div>
</div>
