<div
  class="px-7 rounded-md w-full flex flex-col items-center justify-evenly bg-myviolet h-32 bg-[url('assets/images/bg-shorten-mobile.svg')] bg-cover bg-center"
>
  <div class="rounded-md w-full">
    <input
      [(ngModel)]="linkInput"
      (input)="onInputChange()"
      class="w-full p-3 text-gray-700 rounded-md outline-none focus:ring-2 focus:ring-myblue"
      type="text"
      placeholder="Shorten a link here..."
    />
    <span *ngIf="showError" class="text-red-400 text-sm"
      >Please add a link</span
    >
  </div>

  <div
    (click)="shortenLink()"
    class="cursor-pointer text-white h-11 items-center bg-myblue rounded-md w-full flex justify-center"
  >
    <span>Shorten It!</span>
  </div>
</div>
<div *ngFor="let result of results; let i = index" class="mt-4">
  <div class="flex justify-between items-center bg-gray-200 p-4 rounded-md">
    <span>{{ result.text }}</span>
    <div class="flex items-center space-x-4">
      <span>{{ result.shortUrl }}</span>
      <button
        (click)="copyToClipboard(i)"
        [style.background-color]="
          result.isCopied ? '#3a3053' : 'hsl(180, 66%, 49%)'
        "
        class="text-white px-4 py-1 rounded-md"
      >
        {{ result.isCopied ? "Copied!" : "Copy" }}
      </button>
    </div>
  </div>
</div>
